@model AllPartViewModel

@{
    ViewData["Title"] = "All parts";
}

<h2>@ViewData["Title"]</h2>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="/parts/all?page=@Model.PreviousPage">Previous</a></li>
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item"><a class="page-link" href="/parts/all?page=@i">@i</a></li>

        }
        <li class="page-item"><a class="page-link" href="/parts/all?page=@Model.NextPage">Next</a></li>
    </ul>
</nav>

<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <td>
                Name
            </td>
            <td>
                Price
            </td>
            <td>
                Quantity
            </td>
            <td>
                CRUD
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Parts)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @item.Quantity
                </td>
                <td>
                    <a href="/parts/edit/@(item.Id)" class="btn btn-primary">Edit</a>
                    <a href="/parts/confirm-delete/@(item.Id)" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>